@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
} ;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.title-font{
   font-family: "Barlow Condensed", sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #86C1FF;
  --color-secondary: teal;
}


[data-theme="light"] {

  body {
    background-color: rgb(255, 255, 255);
  }

  .name{
    color: white;
  }
  .text-color {
    color: white;
  }
  
  .text{
    color: black;
  }

  .nav-bg {
    background-color: black;
  }
  .banner-bg{
    background-color: black
  }

  .how-works{
    background-color: black
  }
}

;

[data-theme="dark"] {

  body {
    background-color: white;
  }

  .name{
    color: black;
  }

  .text{
    color: white;
  }

  .text-color {
    color: #F6F6F6;
  }

  .banner-bg{
    background-color: rgba(0, 0, 0, 0.4);
  }

  .comon-bg{
    background: linear-gradient(to right, #84C2FF, #C2B3FF);
  }

  .how-works{
    background-color: #F3F4F6;
  }
  
}

;


.form-label{
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color:black;
  
}


.input-field {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 0;
  cursor: pointer;
  caret-color: black;
  outline: none;
}

.input-field:focus {
  outline: none;
}